@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.nav-link{
	margin-right: 15px;
	color:#e90c0c;
	letter-spacing: 0.5px;
	transition: 0.5s;
}
.navbar-brand{
	color: #5010da;
	letter-spacing: 0.5px;
}
h2{
	color: #b1e70f;
	letter-spacing: 0.5px;
	font-family: raleway;
}